body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f4f4f4;
}

header, main, footer {
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #333;
}

main {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#map {
    height: 50vh;
    width: 75vw;
}

#tableContainer {
    width: 100%; /* Adjust width as necessary */
    height: 250px; /* Adjust based on row height to show about 5 rows */
    overflow-y: auto; /* Allows vertical scrolling */
    border: 1px solid #ccc; /* Optional, for better visibility of the container */
}

table {
    height: 200px;
    overflow-y: auto;
    background: #e8e8e8;
    margin: 20px 0;
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}