body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f4f4f4;
}

header, main, footer {
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #333;
}

main {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#map {
    height: 50vh;
    width: 75vw;
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}